body *{
  box-sizing: border-box;
  padding: 10px;
  background-image: img/frederik-lower-tmUgVN6bCAE-unsplash.jpg
  background-repeat: no-repeat;

}

section *{

}

h1 {
  font-size: x-large; color:blue; background-color: darkgray;
 
}

h2 {
  font-size: large; color: green; background-color: yellow;
}